<h1>HOME</h1>

<%= link_to 'Novo Anúncio', new_ad_path %>

<button class="_btn _green-fill">Clique Aqui</button>

 
 <!-- Botão Dropdown -->
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
    Selecione uma opção
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><a class="dropdown-item" href="#">Opção 1</a></li>
    <li><a class="dropdown-item" href="#">Opção 2</a></li>
    <li><a class="dropdown-item" href="#">Opção 3</a></li>
  </ul>
</div>
