<%#= render  "components/header/main" %>

<%#= FAZENDO O HEADER %>

<%# top %>
<div class="d-flex justify-content-between align-items-center px-0">
  <%= render "components/shared/logo_md" %>
  <div class="d-flex align-items-center justify-content-end">
    <div class="_languages pe-3">
  <%= render "components/shared/hamburguer_menu" %>

      <%#= render "components/shared/languages" %>
    </div>
    <%#= render "components/user_login" %>
  </div>
</div>