<div class="d-flex align-items-center">
  <button type="button" class="">fr</button>
  <span>|</span>
  <button type="button" class="">it</button>
  <span>|</span>
  <button type="button" class="">ge</button>
  <span>|</span>
  <button type="button" class="">en</button>
</div>
